<p>
  <b>Uri:</b>
  <%=h @page.uri %>
</p>

<p>
  <b>Maintitle:</b>
  <%=h @page.mainTitle %>
</p>

<p>
  <b>Bodytitle:</b>
  <%=h @page.bodyTitle %>
</p>

<p>
  <b>Header:</b>
  <%=h @page.header %>
</p>

<p>
  <b>Left:</b>
  <%=h @page.left %>
</p>

<p>
  <b>Right:</b>
  <%=h @page.right %>
</p>

<p>
  <b>Footer:</b>
  <%=h @page.footer %>
</p>

<p>
  <b>Inmenu:</b>
  <%=h @page.inMenu %>
</p>

<p>
  <b>Menutext:</b>
  <%=h @page.menuText %>
</p>

<p>
  <b>Menulink:</b>
  <%=h @page.menuLink %>
</p>

<p>
  <b>Auth:</b>
  <%=h @page.auth %>
</p>

<p>
  <b>Locked:</b>
  <%=h @page.locked %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
